body {
	font-family: Futura-Medium;
	color: #fff;
	background: #000;
}

.top {
	background: url(../images/bg20.jpg) center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	min-height: 300px;
	float: left;
	margin-top: -20px;
}

.top-bright {
	background: url(../images/bg-bright2.jpg) center center;
	background-repeat: no-repeat;
}

.text {
	margin: 0 auto;
	padding: 20px;
	font-size: 20px;
	text-align: left;
	max-width: 600px;
}

.generator-sizer-wrapper {
	width: 100%;
}

.generated-sizer {
	max-width: 650px;
	min-width: 450px;
	max-height: 650px;
	min-height: 450px;
	width: 650px;
	height: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#bot-dark {
	background: url(../images/inspirobot-dark-green.png) no-repeat center 250px;
	background-size: 250px;
}

#bot-bright {
	background: url(../images/inspirobot-light-green.png) no-repeat center 250px;
	background-size: 250px;
	display: none;
}


.thumb-link:hover {
	cursor: pointer;
}

.generated-image-wrapper {
	z-index: 100;
}

.url-box-wrapper {
	width: 100%;
	word-wrap: break-word;
}

.url-box {
	width: 100%;
	max-width: 360px;
	background: #333;
	border: 1px solid #999;
	color: #ccc;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 16px;
	border-radius: 5px;
	padding: 4px;
	display: none;
}

.owl-wrapper {
	height: 200px;
	max-height: 200px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.owl-img {
	width: 200px;
	height: 200px;
}

canvas {
	display: block;
}

.button-wrapper {
	width: 100%;
	margin-top: 17px;
	text-align: center;
}

.btn-generate {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	min-height: 45px;
	font-size: 22px;
}

.btn-background {
	background: rgba(255, 255, 255, 0.7);
	background: rgba(80, 30, 255, 0.7);
	background: rgba(20, 150, 20, 0.6);
	width: 0px;
	height: 5px;
	display: block;
	position: absolute;
	margin-top: 15px;
}

.owl-button-wrapper {
	width: 100%;
	text-align: center;
	margin-top: 12px;
}

.owl-nav-prev,
.owl-nav-next {
	margin: 0 auto;
	margin-left: 20px;
	margin-right: 20px;
}

.inspirobot-text {
	padding-top: 40px;
	margin: auto auto;
	font-size: 22px;
}

.inspirobot-text h1 {
	text-align: center;
}

.vertical-spacer-m {
	height: 30px;
	width: 100%;
	display: block;
}

.float-left {
	float: left;
}


